<h1>Contacts</h1>

<ul>
  <% @contacts.each do |contact| %>
  <% formatted_phone_number = contact.phone_number.insert(0, '(').insert(4, ') ').insert(9, '-') %>
    <li>
      <a href="/contacts/<%= contact.id %>">
      <%= contact.name %></a> - <%= formatted_phone_number %>
    </li>
  <% end %>
</ul>

<h4>Add New Contact</h4>

<form method="post" action="/newcontact">
  <input type="text" name="first_name" placeholder="First Name" required />
  <input type="text" name="last_name" placeholder="Last Name" required />
  <input type="text" name="phone_number" placeholder="Phone Number" required />
  <input type="submit" value="Add" />
</form>
